<div class="wrapper">
<%= turbo_stream_from "public-history" %>
  <%= turbo_frame_tag "omikuji-result" do %>
    <h1>ようこそ</h1>
    <h3>今年の干支おみくじ引きますか？🐍</h3>

    <div id="modal">
      <%= render "omikuji" %>
    </div>

    <div id="modal-open"></div>
    <p>おみくじの結果はボタンを押したら表示されます。</p>

    <h1>みんなの占い結果</h1>
    <h2 class="omikuji-title">🔮 最大10件表示 🔮</h2>

    <div id="public-history-list" class="omikuji-list" data-turbo-permanent>
      <% @saved_histories.each do |history| %>
        <%= render partial: "omikujis/history_item", locals: { omikuji_history: history } %>
      <% end %>
    </div>
  <% end %>
</div>
