<h1>おみくじ結果</h1>
  <div id="omikuji-result" class="container">
    <% if @snake %>
      <%= render "result" %>
      <%= render "snake" %>
    <% else %>
      <p>蛇のデータがありません。</p>
    <% end %>
</div>

<div id ="history-list">
    <%= render "omikujis/history", saved_histories: @saved_histories %>
</div>
