<% if local_assigns[:my_history] %>
  <h2 class="omikuji-title">🔮 あなたの占い結果（最大5件） 🔮</h2>
  <% histories = @my_histories %>
  <div id="my-history-list" class="omikuji-list">
    <% if histories.present? %>
      <% histories.each do |history| %>
        <%= render partial: "omikujis/history_item", locals: { omikuji_history: history } %>
      <% end %>
    <% else %>
      <p class="omikuji-no-history">あなたの履歴がありません。</p>
    <% end %>
  </div>

  <div class="button-group top">
    <%= render "omikujis/reset" %>
    <%= render "tops/home" %>
  </div>
<% end %>
