<% if params[:controller] == "modals" %>
  <% button_class = "omikuji-button" %>
  <% button_text = "おみくじ" %>
<% else %>
  <% button_class = "button" %>
  <% button_text = "おみくじを引き直す" %>
<% end %>

<%= button_to omikujis_path, method: :post, data: { turbo_stream: true }, class: button_class do %>
  <span class="omikuji-text"><%= button_text %></span>
<% end %>
