<%= turbo_frame_tag "result-container" do %>
  <h1>おみくじ結果</h1>
  <div class="container">
    <% if @snake %>
      <%= render "result" %>
      <%= render "snake" %>
    <% else %>
      <p>蛇のデータがありません。</p>
    <% end %>
    <%= render "button/home" %>
  </div>
<% end %>
