body {
  margin: 0;
  background-image: url("torii.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: auto;
}