.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #dd221f; /* ボタンの背景色 */
  color: white; /* 文字色 */
  text-decoration: none; /* 下線を消す */
  border-radius: 5px; /* 角を丸くする */
  border: none; /* ボーダーを消す */
  font-size: 16px; /* 文字サイズ */
  cursor: pointer; /* ポインタカーソル */
  text-align: center;
}

.button:hover {
  background-color:  #dd221f; /* ホバー時の色 */
}

.button:active {
  background-color: #dd221f; /* クリック時の色 */
}

.button-group {
  display: flex;
  gap: 10px; /* ボタン間の間隔を設定 */
}
