.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #dd221f;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color:  #dd221f;
}

.button:active {
  background-color: #dd221f;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

