.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.snake {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

.rounded-rectangle {
  position: relative;
  width: 100px;
  height: 25px;
  background-color: var(--layer-color, #f0f8ff );
  border-radius: 50px;
  margin-top: -5px;
  border: 2px solid #000;
  z-index: 1;
  }

.layer1 {
  width: 100px;
  height: 25px;
  --layer-color: #f0f8ff;
  margin-top: -2px;
  border: 2px solid #000;
  }

.layer2 {
  width: 85px;
  height: 20px;
  --layer-color: #f0f8ff;
  margin-top: -2px;
  border: 2px solid #000;
  }

.layer3 {
  width: 70px;
  height: 18px;
  --layer-color: #f0f8ff;
  margin-top: -2px;
  border: 2px solid #000;
  z-index: 2;
  }

.layer4 {
  width: 30px;
  height: 25px;
  --layer-color: #f0f8ff;
  margin-top: -10px;
  margin-bottom: -5px;
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
  z-index: 1;
  }

.head {
  position: absolute;
  width: 63px;
  height: 32px;
  border-radius: 50px / 30px;
  background-color:#f0f8ff;
  left: 20px;
  top: -30px;
  border: 2px solid #000;
  z-index: 2;
  }

.eye {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  top: 8px;
  }

.eye.left {
  left: 15px;
  }

.eye.right {
  right: 15px;
  }

.tongue {
  position: absolute;
  width: 6px;
  height: 20px;
  background-color: #ff0000;
  top: 19px;
  left: 29px;
  z-index: 3;
  clip-path: polygon(50% 0%, 100% 100%, 50% 70%, 0% 100%);
  }

.omega-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  z-index: 2;
  }

.omega {
  position: relative;
  top: 16px;
  left: 7px;
  width: 50px;
  height: 10px;
  background-color: transparent;
  }

.omega::before,
.omega::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 10px;
  border-bottom: 1.5px solid #000;
  border-radius: 0 0 20px 20px;
  background-color: transparent;
  }

.omega::before {
  left: 0;
  border-right: none;
  }

.omega::after {
  right: 0;
  border-left: none;
  }

.tail-container {
  position: absolute;
  right: -40px;
  top: -23px;
  width: 100px;
  height: 100px;
  transform: rotate(59deg);
  }

.tail-outer {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--layer-color, #1cbbb8);
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 1;
  }

.tail-inner {
  position: absolute;
  top: -10px;
  left: -15px;
  width: 100px;
  height: 105px;
  background-color: #f0f8ff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  }

.tail-inner-cut {
    position: absolute;
    top: -10px;
    left: -5px;
    width: 100px;
    height: 105px;
    background-color: #f9f9f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

.tail-text {
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  transform: rotate(-59deg) translateX(15px) translateY(-5px);
  transform-origin: center center;
  }

.layer-horizontal-line {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0b0b0b;
  z-index: 3;
}

.layer-horizontal-line-2 {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0b0b0b;
  z-index: 3;
}

.lines-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  position: relative;
}

.layer-vertical-line {
  width: 10px;
  height: 100%;
  margin: 0 auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
}

.layer-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.4);
  z-index: 10;
}


.layer-circle .inner-circle {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
}
