.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* スマホ用のスタイル */
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px; /* パディングを追加 */
  }
}