<div class="head" style="background-color: <%= @snake.snake_colors.find_by(layer: 1)&.color %>">
  <div class="eye left"></div>
  <div class="eye right"></div>
  <div class="omega"></div>
  <div class="tongue"></div>
</div>